<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="apprenant">
            <h2><span>Apprenant</span> {{apprenant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{apprenant.firstname}}</span>
                </dd>
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{apprenant.lastname}}</span>
                </dd>
                <dt><span>Birthdate</span></dt>
                <dd>
                    <span>{{apprenant.birthdate}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{apprenant.phone}}</span>
                </dd>
                <dt><span>Promo</span></dt>
                <dd>
                    <div *ngIf="apprenant.promo">
                        <a [routerLink]="['/promo', apprenant.promo?.id, 'view']">{{apprenant.promo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/apprenant', apprenant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
