<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="apprenant">
            <h2><span>Apprenant</span> {{apprenant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{apprenant.firstname}}</span>
                </dd>
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{apprenant.lastname}}</span>
                </dd>
                <dt><span>Cours</span></dt>
                <dd>
                    <span *ngFor="let cours of apprenant.cours; let last = last">
                        <a [routerLink]="['/cours', cours?.id, 'view' ]">{{cours.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/apprenant', apprenant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
