<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cours">
            <h2><span>Cours</span> {{cours.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Theme</span></dt>
                <dd>
                    <span>{{cours.theme}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{cours.duration}}</span>
                </dd>
                <dt><span>Apprenant</span></dt>
                <dd>
                    <span *ngFor="let apprenant of cours.apprenants; let last = last">
                        <a [routerLink]="['/apprenant', apprenant?.id, 'view' ]">{{apprenant.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cours', cours.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
