<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cours">
            <h2><span>Cours</span> {{cours.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{cours.name}}</span>
                </dd>
                <dt><span>Number Student</span></dt>
                <dd>
                    <span>{{cours.numberStudent}}</span>
                </dd>
                <dt><span>Teacher</span></dt>
                <dd>
                    <span>{{cours.teacher}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cours', cours.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
