<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-formation-heading">Create or edit a Formation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!formation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_intitule">Intitule</label>
                    <input type="text" class="form-control" name="intitule" id="field_intitule"
                           formControlName="intitule"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_teacher">Teacher</label>
                    <input type="text" class="form-control" name="teacher" id="field_teacher"
                           formControlName="teacher"/>
                </div>

                <div class="form-group">
                    <label for="field_cours">Cours</label>
                    <select class="form-control" id="field_cours" multiple name="cours" formControlName="cours">
                        <option [ngValue]="getSelected(editForm.get('cours').value, coursOption)" *ngFor="let coursOption of cours; trackBy: trackCoursById">{{coursOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_niveau">Niveau</label>
                    <select class="form-control" id="field_niveau" name="niveau" formControlName="niveau">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niveauOption.id === editForm.get('niveau').value?.id ? editForm.get('niveau').value : niveauOption" *ngFor="let niveauOption of niveaus; trackBy: trackNiveauById">{{niveauOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
